html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #app, #app>div {
  height: 100%
}

* {
  font-family: 'Oxygen', 'Montserrat' ;
  font-weight: 500;
}

.active {
  font-weight: 700;
}

