html {
  height: fill-available;
  background-color:  rgb(249, 222, 86);
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100vh;
  
}
/* #root {
  height: 100%;
} */

* {
  font-family: 'Oxygen', 'Montserrat' ;
  font-weight: 500;
}

.active {
  font-weight: 700;
}

